<!-- message -->


<h1>TinyApp</h1>
<% if(!user){ %>
  <div>
    <a href='/login'>Login</a>
    <span>|</span>
    <a href='/register'>Register</a>
  </div>
<%}else{%>
  <p>Logged In As: <%= user.email %></p>
  <form method="POST" action='/logout'>
    <button>Logout</button>
  </form>
  <div>
    <a href="/urls">URLs</a>
    <span>|</span>
    <a href="/urls/new">Create New TinyURL</a>
  </div>
<%}%>